* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

@font-face {
  src: url("../font/TiltPrism-Regular.ttf");
  font-family: "Tilt Prism";
  font-weight: bold;
}
@font-face {
  src: url("../font/GreatVibes-Regular.ttf");
  font-family: "GreatVibes";
  font-weight: bold;
}
.container__cabecalho {
  height: 90vh;
  width: 100%;
  margin-bottom: 2rem;
}
.container__cabecalho::after {
  content: "";
  display: block;
  height: 90vh;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.477);
  top: 0;
  z-index: -1;
}

.cabecalho__img {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: 90vh;
}

.cabecalho__nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  position: fixed;
  padding: 1rem;
}
.cabecalho__nav ul {
  display: flex;
}
.cabecalho__nav ul li a {
  margin: 0 0 0 15px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
}

.container__titulo {
  height: 90%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
.container__titulo h1 {
  color: white;
  font-family: "Tilt Prism";
  font-size: 3rem;
}
.container__titulo p {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

.container__qualidades {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 1rem;
}

.qualidades {
  width: 400px;
  padding: 1rem;
  height: auto;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 15px;
  line-height: 1.5rem;
  background-color: cadetblue;
}
.qualidades h3 {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  font-family: "GreatVibes";
}

.propraganda {
  width: 800px;
  margin: 0 auto;
}

.container__projetos {
  text-align: center;
  background-color: #555555;
  padding: 0.3rem;
}
.container__projetos h2 {
  color: white;
}

.projetos {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.projetos .projeto__corpo {
  width: 32.3333333333%;
  background-color: white;
}
.projetos .projeto__corpo img {
  width: 80%;
  height: auto;
  border-radius: 15px;
}

@keyframes granito {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.projeto {
  width: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  align-items: center;
  position: relative;
  transition: all 2s linear 2s;
  cursor: all-scroll;
}
.projeto:hover::after {
  content: "granito";
  background-color: rgba(0, 0, 0, 0.263);
  animation: granito 1s linear 1;
  transition: all 5s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  width: 400px;
  height: 100%;
  border-radius: 15px;
}
.projeto img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.rodape {
  width: 100%;
  min-height: 80px;
  display: flex;
  margin-top: 1rem;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.477);
}
.rodape ul {
  width: 100%;
  display: flex;
  gap: 50px;
  height: 100%;
  align-items: center;
}
.rodape ul li a {
  display: flex;
  align-items: center;
  color: white;
}
.rodape .icon__contatos {
  width: 40px;
  height: 40px;
}
.rodape .endereco {
  color: white;
  font-size: 1.3rem;
}/*# sourceMappingURL=style.css.map */